.container_pullout
  .container_users
    .div_users
      h3 <span class="users-count"></span>Users in #{room}
      ul.list_users
        li meta
        li metoo
        li everyone
  .container_rooms
    .div_rooms
      h3 Chat Rooms
      .div_room Room 1
      .div_room Room 2
      .div_room Room 3