html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Cackle - " + title
    link(href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/main.min.css")
  body
    .page
      block content
    script(src="js/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="js/dist/main.js")
  
