.container_chat {
    position: relative;
    float: left;
    height: 100%;
    width: 75%;
    color: $dark;
    
    div { padding-left: 10px; }
}

.div_msg-list {
    background-color: $base;
    height: 100%;
}

.div_msg-input {
	position: fixed;
	bottom: 0;
	left: 25%;
	width: 75%;
	border-top: 2px solid;
	background-color: $logo;
	
	.input_msg {
    	width: (1108%/12);
	}
	
	.btn_msg {
	    font-family: 'Lobster', cursive;
	    line-height: 1em;
    	color: $logo;
	    background-color: $base;
	}
}