.container_pullout {
    display: relative;
    float: left;
	height: 100%;
	width: 25%;
	top: 0;
	color: $menu;
}

.container_users {
	height: 70%;
	background-color: $accent;
	
	.div_users {
	    padding-top: 38px;
	    @include margin-left;
	}
}

.container_rooms {
	height: 30%;
	bottom: 0;
	background-color: $dark;
	
	.div_rooms {
	    @include margin-left;
        
        .div_room {
            height: 50px;
            width: 50px;
            position: relative;
            float: left;
            border: 2px solid $menu;
            margin-right: 2px;
            overflow: hidden;
            text-align: center;
        }
	}
}

