$base: #D8D7C3;
$light: #7DB9B3;
$mid: #166678;
$dark: #0E2E3B;

body { height: 100vh; margin: 0; }

.page {
	position: relative;
	height: 100%;
	text-transform: lowercase;
}

form { margin: 0; }

input {
	height: 34px;
	margin: 2px;
	border-width: 1px;
	border-radius: 5px;
}

button {
	@extend input;
	min-width: 60px;
	color: $light;
	background-color: $mid;
	font-weight: bold;
}

@import 'pullout';

@import 'chat'; 

@import 'login';


