$base: #D8D7C3;
$light: #7DB9B3;
$mid: #166678;
$dark: #0E2E3B;

html {
	min-height: 100%;
}

body {
	min-height: 100%;
}

.page {
	position: relative;
	height: 100%;
}

.userPage {
	height: 100%;
	background: $base;
}

.chatPage {
	height: 100%;
	background: $mid;
}

.userList {
	background: #eee;
}

.users_container, .rooms_container {
	height: 100%;
}

#chatWindow {
	margin-top: 10px;
}

#msgList, .msgInput, .msgBtn {
	margin-top: 2px;
}

#msgList {
	padding-left: 10px;
}

#msgList li:nth-child(odd) {
	background: #eee;
}

.usernInput, .msgInput {
	height: 34px;
	border-width: 1px;
	border-radius: 4px;
}

#chatInput {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid;
	margin: 2px;
}