.userPage {
	height: 100%;
	margin-top: 1%;
}

.chatPage {
	height: 100%;
	margin-top: 1%;
}

#divUserList {
	background: #eee;
}

#msgList, .msgInput, .msgBtn {
	margin-top: 2px;
}

#msgList {
	padding-left: 10px;
}
.usernInput, .msgInput {
	height: 34px;
	border-width: 1px;
	border-radius: 4px;
}

#chatInput {
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 2px solid;
	margin: 2px;
}